.navbar {
    min-height:50px;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #68c3a3;
    background-color:#fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #68c3a3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #68c3a3;
    background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: #68c3a3;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #68c3a3;
    background-color: #fff;
}
.dropdown-menu {
    padding: 0;
}
body{
    background-color: #F2F2F2;
}
.site-content{
    padding-top: 80px;
}
.post,
.widget-search,
.widget-recent-posts,
.widget-category,
.widget-tag{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
.post a:hover,
.post a:focus,
.sidebar a:hover,
.sidebar a:focus{
    color: #68c3a3;
    text-decoration:none;
}
.post a,
.sidebar a{
    color: #333;
}
.entry-title,
.widget-title{
    margin: 0;
    margin-bottom: 15px;
}
.entry-title > a{
    color: #333;
    font-weight: 500;
}

.entry-meta,
.micropost-meta{
    margin: 0;
    margin-bottom: 15px;
    font-style: italic;
    font-size: small;
    color: #aaa;
}
.meta-gap{
    color: #aaa;
}
.entry-meta  a,
.micropost-meta a{
    color: #aaa;
    font-size: smaller;
    font-weight: 600;
}
.post-meta li:last-child span{
    display:none;
}
.meta-tag{
    margin-right: -10px;
}
.entry-summary{
    padding: 0;
}
.entry-summary > p{
    line-height: 2;
    text-indent: 2em;
}
.continue-link,
.delete-link,
.edit-link{
    display: block;
    float: right;
    margin: 0 10px;
}
.form-control,
.btn{
    border-radius: 0;
}
.pager .next > a,
.pager .next > span,
.pager .previous > a,
.pager .previous > span{
    border-radius: 0;
    border: 0;
    color: #333;
    background-color: #F2F2F2;
}
.btn:hover,
.btn:focus,
.pager .next > a:hover,
.pager .next > span:hover ,
.pager .next > a:focus,
.pager .next > span:focus,
.pager .previous > a:hover,
.pager .previous > span:hover ,
.pager .previous > a:focus,
.pager .previous > span:focus{
    color: #fff;
    background-color: #68c3a3;
    border-color: #68c3a3;
}
.micropost-meta{
    margin-bottom: -15px;
}
/*.form-control{*/
    /*background-color: #F2F2F2;*/
/*}*/
.form-control:focus {
  border-color: #68c3a3;
  /*outline: 0;*/
  /*-webkit-box-shadow: none;*/
          /*box-shadow: none;*/
    /*background-color: #fff;*/
}
ul{
    padding:0;
    list-style: none;
}
.recent-post,
.sidebar-category{
    padding: 8px 0;
    border-bottom: 1px dotted #e2e2e2;
}
.recent_post,
.sidebar-category
li:last-child{
    border-bottom: 0;
}
.tagcloud a{
    color: #FFF;
    background-color: #68c3a3;
    padding: 2px 8px;
    margin-bottom: 4px;
    display: inline-block;
    opacity: .8;
}
.tagcloud a:hover{
    opacity: 1;
    color: #fff;
}