{% extends 'base.html' %}

{%block page_content%}
{% for post in posts %}
    <ul>
        <li>title:<a href="{{ url_for('post', posttitle=post.title) }}" >{{post.title}}</a></li>
        <li>post time:{{post.timestamp}}</li>
        <li>views:{{post.views}}</li>
        <li>
            Tags:
            {% for tag in post.tags %}
                <a href="{{ url_for('tag', tagname=tag.tagname) }}">{{tag.tagname}}</a>&nbsp;
            {%endfor%}
        </li>
        <li>{{post.content[:200]}}</li>
    </ul>
{% endfor %}
{%endblock%}
