{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{%block page_content%}

{#<div id="Confirming_delete_micropost" class="modal fade">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <h4 class="modal-title"></h4>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <p>确认删除此条说说？</p>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">删除</button>#}
{#      </div>#}
{#    </div><!-- /.modal-content -->#}
{#  </div><!-- /.modal-dialog -->#}
{#</div><!-- /.modal -->#}

<div class="post-list">
    {% for post in posts %}
        <div class="post">
            <p>{{post.content}}</p>
            <ul class="list-inline micropost-meta">
                <li>{{post.timestamp}}</li>
            </ul>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('delete_micropost', id=post.id) }}" class="delete-link">删除</a>
                {%endif%}
        </div>
    {% endfor %}
        {{ macros.pagination_widget(pagination, 'microposts') }}
</div>
{%endblock%}

